<!--  brands  -->
<section class="brands">
   <div class="brands__wrapper">
      <div class="brands__slider">
         <div class="brands__slide"><img src="img/brands/1.png" alt=""></div>
         <div class="brands__slide"><img src="img/brands/2.png" alt=""></div>
         <div class="brands__slide"><img src="img/brands/3.png" alt=""></div>
         <div class="brands__slide"><img src="img/brands/4.png" alt=""></div>
         <div class="brands__slide"><img src="img/brands/5.png" alt=""></div>
         <div class="brands__slide"><img src="img/brands/1.png" alt=""></div>
         <div class="brands__slide"><img src="img/brands/2.png" alt=""></div>
         <div class="brands__slide"><img src="img/brands/3.png" alt=""></div>
         <div class="brands__slide"><img src="img/brands/4.png" alt=""></div>
         <div class="brands__slide"><img src="img/brands/5.png" alt=""></div>
      </div>
   </div>
</section>