<section class="delivery">
   <div class="container">
      <h2 class="h3 text-center">Choose your preferred delivery channel</h2>
      <div class="row delivery__row">
         <div class="col-md-4">
            <div class="delivery__item">
               <img src="img/c-1.jpg" alt="">
               <div class="delivery__mobil-title">
                  Direct
                  <button class="delivery__toggle"></button>
               </div>
               <div class="delivery__overlay">
                  <p>Excepteur suspendisse ad bibendum in fringilla expedita voluptatum occaecat? Vel anim soluta, a quas, condimentum. Arcu? Inventore aliquip. </p>
                  <a href="#" class="btn btn--sm">Read more</a>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="delivery__item">
               <img src="img/c-2.jpg" alt="">
               <div class="delivery__mobil-title">
                  Partner
                  <button class="delivery__toggle"></button>
               </div>
               <div class="delivery__overlay">
                  <p>Excepteur suspendisse ad bibendum in fringilla expedita voluptatum occaecat? Vel anim soluta, a quas, condimentum. Arcu? Inventore aliquip. </p>
                  <a href="#" class="btn btn--sm">Read more</a>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="delivery__item">
               <img src="img/c-3.jpg" alt="">
               <div class="delivery__mobil-title">
                  Carrier
                  <button class="delivery__toggle"></button>
               </div>
               <div class="delivery__overlay">
                  <p>Excepteur suspendisse ad bibendum in fringilla expedita voluptatum occaecat? Vel anim soluta, a quas, condimentum. Arcu? Inventore aliquip. </p>
                  <a href="#" class="btn btn--sm">Read more</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>