.brands {
   padding: 18px 0;
   background-color: $light-bg;
   &__wrapper{
      padding: 0 calc(3% + 15px);
   }
   &__slide {
      padding: 5px 30px;
      min-height: 65px;
      @include valign;
      img {
         display: inline-block;
         vertical-align: middle;
         opacity: 0.6;
      }
   }
}