.channel {
   padding: 40px 0;
   background-color: $light-bg;
   @media(min-width: 670px){
      padding: 55px 0 50px;
   }
   @media(min-width: 1025px){
      padding: 65px 0 60px;
   }
   .container {
      max-width: 990px;
      @media(min-width: 550px) and (max-width: 767px){
         max-width: 520px;
      }
   }
}
.text-short {
   max-width: 740px;
   margin: 0 auto 1.1em;
   text-align: center;
   @media(min-width: 670px){
      margin: 0 auto 1.7em;
   }
}
.benefits {
   padding-bottom: 16px;
   &__list{
      list-style: none;
   }
   &__item {
      padding: 20px 14px 0;
      margin-bottom: 16px;
      text-align: center;
      background-color: #fff;
      transition: .3s;
      &:hover {background-color: #ced7e0;}
      > p {
         font-size: em(16);
      }
   }
    &__title {
       font-weight: bold;
       padding-bottom: 0.1em;
    }
}