@font-face {
  font-family: 'basisgrotesquegro';
  src: local('basisgrotesquegro light'), local('basisgrotesquegro-light'), url('../fonts/basisgrotesquepro-light.woff2') format('woff2'), url('../fonts/basisgrotesquepro-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'basisgrotesquegro';
  src: local('basisgrotesquegro medium'), local('basisgrotesquegro-regular'), url('../fonts/basisgrotesquepro-regular.woff2') format('woff2'), url('../fonts/basisgrotesquepro-regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'basisgrotesquegro';
  src: local('basisgrotesquegro bold'), local('basisgrotesquegro-bold'), url('../fonts/basisgrotesquegro-bold.woff2') format('woff2'), url('../fonts/basisgrotesquegro-bold.woff') format('woff');
  font-weight: 700;
}