.top {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 999;
   background-color: transparent;
   transition: .3s;
   @media (max-width: 1023px) {
      background-color: rgba($dark-bg, .9);
   }
   .container {
      max-width: 1350px;
      transition: .4s;
      padding: 16px 15px;
      @media (min-width: 1024px) {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 17px 15px;
         &:after{
            content: '';
            position: absolute;
            left: 15px;
            right: 15px;
            bottom: 0;
            height: 1px;
            background-color: #fff;
            transition: .3s;
         }
      }
      @media (min-width: 1200px) {
         padding: 25px 15px;
      }
   }
   &--scrolled {
      background-color: rgba($dark-bg, .9);
      .container {
         @media (min-width: 1200px) {
            padding: 17px 15px;
         }
         &:after{opacity: 0;}
      }
   }
}
.navbar{
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0;
}
.navbar-nav {z-index: 999;}

.collapsing { transition: .4s;}

@media (max-width: 1023px) {
   #justify li {
      padding: 6px 0;
      margin: auto;
      opacity: 0;
      transform: translateY(-9px);
   }
   .collapse.in #justify li {
      animation: .3s moveTohome ease forwards;
      &:nth-child(1) {margin-top: 30px;}
      &:nth-child(2) {animation-delay: .06s;}
      &:nth-child(3) {animation-delay: .12s;}
      &:nth-child(4) {animation-delay: .18s;}
      &:nth-child(5) {animation-delay: .24s;}
      &:nth-child(6) {animation-delay: .3s;}
      &:nth-child(7) {animation-delay: .36s;}
      &:nth-child(8) {animation-delay: .42s;}
   }

   @keyframes moveTohome {to {opacity: 1; transform: translateZ(0);}}
}

.navbar-nav li {
	display:block;
	text-align:center
}
.collapse.in ul>li,.collapsing ul>li {float:none}

.navbar-nav>li>a {line-height: 1.2;}

a.nav__link {
	position: relative;
	display: inline-block;
	padding: 9px 6px;
	font-size: em(16);
   font-weight: bold;
   color: #fff;
	transition: .3s;
   &:not(.btn):hover {opacity: .8;}
   &.btn {
      font-weight: 400;
      margin: 0 auto;
   }
}

.navbar-collapse {
   padding: 0 !important;
   transition: height .4s;
   overflow-y: hidden;
   overflow-x: hidden;
   height: 0;
   &.in {
      height: auto;
   }
}
.navbar-toggle {
   display: block;
   float: none;
   margin: 0;
   height: 44px;
   padding: 2px 7px;
   position: absolute;
   right: 17px;
   top: 7px;
   z-index: 4;
   border-radius: 0;
   background: none;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   outline-color: transparent;
   .icon-bar {
      display: block;
      background-color: $warning;
      transition: 0.25s cubic-bezier(.23,.61,.355,1);
      transform-origin: left top;
      width: 30px;
      height: 4px;

      +.icon-bar {
         margin-top: 6px;
      }
   }
}
[aria-expanded=true] .icon-bar {
   &:first-child {
      transform: rotate(45deg) translate(4px,-3px);
      transition: transform .24s ease;
   }
   &:nth-child(2) {
      opacity: 0;
      width: 0;
      transition: 0.3s;
   }
   &:last-child {
      transform: rotate(-45deg) translate(0,3px);
      transition: transform .24s ease;
   }
}

@media (min-width: 1024px) {
   .navbar {max-width: 730px;}

   .navbar-toggle { display: none;}

   #expand {
      display: block;
      height: auto!important;
   }

   .navbar-nav {
      padding: 6px 0;
      width: 100%;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      -ms-flex-pack: justify;
      position: relative;
      li {
         display: -ms-flexbox;
         display: flex;
         align-self: stretch;
         justify-content: space-around;
         align-items: center;
      }
   }
   a.nav__link {
      text-align: center;
   }
}