/*===================
	reset & default
===================*/
::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-thumb {background: #ccc; cursor: pointer; border-radius: 3px}
::-webkit-scrollbar-track-piece{background: #eee;cursor: pointer}
::-webkit-scrollbar-corner{background: transparent;border: none}

html {
	// scroll-behavior: smooth;
	font-family: sans-serif;
	box-sizing: border-box;
	font-size: 15px;
	scrollbar-width: thin;
	-ms-overflow-style: scrollbar
}
*,*::before,*::after {
	margin: 0;
	padding: 0;
	outline: 0 none;
	border: none;
	box-sizing: inherit
}
img {
	max-width: 100%;
	display: block;
}
section {
	width: 100%;
	position: relative;
}
a,a:focus {
	text-decoration:none;
	outline:0;
	cursor: pointer;
	transition: .3s;
	user-select: none;
}
p {padding-bottom: 1em;}
