<section class="channel">
   <div class="container">
      <div class="text-short">
         <h2 class="h2">Powering delivery choice for over 25 years</h2>
         <p>Intersoft power total delivery choice. Our smart, simple industry leading tech constantly evolves to exceed your customer delivery demands. Intersoft provides your business with total delivery choice via a tailored multicarrier solution, that is customer-centric, and focused on delivering your promised brand experience.</p>
      </div>
      <div class="text-short">
         <h3 class="h3">The benefits of quality tech</h3>
         <p>Do dictumst convallis in esse aliquid minima mollitia voluptate laboris, pretium quasi:</p>
      </div>
      <div class="benefits">
         <ul class="benefits__list row">
            <li class="col-md-4">
               <div class="benefits__item">
                  <i class="icon" style="background-image: url(img/icons/1.png)"></i>
                  <div class="benefits__title">Award winning</div>
                  <p>Description. Lectus conubia euismod, facilisis rhoncus quidem.</p>
               </div>
            </li>
            <li class="col-md-4">
               <div class="benefits__item">
                  <i class="icon" style="background-image: url(img/icons/2.png)"></i>
                  <div class="benefits__title">Speed</div>
                  <p>Description. Lectus conubia euismod, facilisis rhoncus quidem.</p>
               </div>
            </li>
            <li class="col-md-4">
               <div class="benefits__item">
                  <i class="icon" style="background-image: url(img/icons/3.png)"></i>
                  <div class="benefits__title">Documentation</div>
                  <p>Description. Lectus conubia euismod, facilisis rhoncus quidem.</p>
               </div>
            </li>
         </ul>
      </div>
      <a href="#" class="btn btn--lg">More about our solution</a>
   </div>
</section>